@import url('https://fonts.googleapis.com/css?family=Cinzel');
body {
    background-color: #d5aaca;
    margin: 0 15%;
    font-family: "Cinzel", sans-serif;}
a.przycisk:link, a.przycisk:visited {
    background-color: white;
    color: black;
    border: 2px solid #BF7256;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 150px;
    font-size: large;
}

a.przycisk:hover, a.przycisk:active {
    background-color: #BF7256;
    color: white;
}

a.styczna:link, a.styczna:visited {
    background-color: white;
    color: black;
    border: 2px solid #BF7256;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 150px;
    font-size: large;
}

a.styczna:hover, a.styczna:active {
    background-color: #BF7256;
    color: white;
}