@import url('https://fonts.googleapis.com/css?family=Cinzel');
h1.title {
    font-family: "Cinzel", sans-serif;
    font-size: xx-large;
    text-align: center;
}
a.przycisk {
    text-align: center;
}
a.przycisk:link, a.przycisk:visited {
    background-color: white;
    color: black;
    border: 2px solid #BF7256;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

a.przycisk:hover, a.przycisk:active {
    background-color: #BF7256;
    color: white;
}