@import url('https://fonts.googleapis.com/css?family=Cinzel');
body {
    background-color: #d5aaca;
    margin: 0 15%;
    font-family: "Cinzel", sans-serif;}
h1.title {
    font-family: "Cinzel", sans-serif;
    font-size: xx-large;
    text-align: center;
    padding: 30px;
}

form.f1 {
    margin: auto;
    width: 40%;
    padding: 20px;
}
form.f2 {
    margin: auto;
    width: 43%;
    padding: 20px;
}

.przycisk {
    background-color: white;
    color: black;
    border: 2px solid #BF7256;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 150px;
    font-size: large;
}

.przycisk:hover, .przycisk:active {
    background-color: #BF7256;
    color: white;
}

a.styczna:link, a.styczna:visited {
    background-color: white;
    color: black;
    border: 2px solid #BF7256;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 150px;
    font-size: large;
}

a.styczna:hover, a.styczna:active {
    background-color: #BF7256;
    color: white;
}