@import url('https://fonts.googleapis.com/css?family=Cinzel');
body {
    background-color: #d5aaca;
    margin: 0 15%;
    font-family: "Cinzel", sans-serif;
}
h1.title {
    font-family: "Cinzel", sans-serif;
    font-size: xx-large;
    text-align: center;
}

.zrodlo {
    text-align: center;
}

a {
    display: block;
}

.obr_zr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    scale: 0.7;
}
.plocik {
    color: black;
    border: 2px solid #BF7256;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

.plocik:hover, .plocik:active {
    background-color: #BF7256;
    color: white;
}