<!DOCTYPE html>
<html lang="pl"> 
    <head>
        <meta charset="utf-8">
        <title>Dane kontaktowe autorów</title>
        <link rel="stylesheet" href="css.css">
    </head>
    <body>
        <h1 class="title">Dane kontaktowe autorów</h1>
        <p>Wojciech Jąkalski:
            <ul>
                <li>e-mail: </li>
            </ul>
            Maria Lubneuskaya:
            <ul>
                <li>e-mail: 268845@student.pwr.edu.pl</li>
            </ul>
            Julia Kowalik:
            <ul>
                <li>e-mail: 268726@student.pwr.edu.pl</li>
            </ul>
        </p>
        
        <form action="index" method="post">
            <input type="submit" value="Powrót" id="index">
        </form>
    </body>
</html>