<!DOCTYPE html>
<html lang="pl"> 
    <head>
        <meta charset="utf-8">
        <title>Moja pierwsza strona</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <h1 class="title">Strona Główna</h1>
        <h2>Opis projektu</h2>
        <p class="introduction"> Witamy na stronie naszego projektu, który realizowany jest w ramach zajęć z Technologii Informacyjnych. 
            Nasza strona umożliwa użytkownikowi rysowanie stycznej do wykresu funkcji.
        </p>
        <form action="dane" method="post">
            <input type="submit" value="Dane" id="dane">
        </form>
        <form action="styczna" method="post"> 
            <input type="submit" value="styczna" id="styczna">
        </form>
    </body>
</html>
