<!DOCTYPE html>
<html lang="pl"> 
    <head>
        <meta charset="utf-8">
        <title>Wyznaczanie stycznej funkcji</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/wykres.css')}}">
    </head>
    <body>
        <h1 class="title">Wyznaczanie stycznej funkcji</h1>
        <form action="plot" method="post">
            <div>
                <div>
                    <input type="text" name="function" ><p>Wpisz wzór funkcji:</p>
                    <br>
                    <input type="text" name="point" ><p>Wpisz punkt(współ. x):</p>
                    <br>
                    <input type="submit" value="RYSUJ" id="plot">
                </div>
            {% if plotting==True %}
            <div style="display:inline-block;vertical-align:top;"><img src="{{plot}}" alt="styczna w punkcie"></img></div>
            {% endif %}
            </div>
        </form>       
        
    </body>
</html>