<!DOCTYPE html>
<html lang="pl"> 
    <head>
        <meta charset="utf-8">
        <title>Wyznaczanie stycznej funkcji</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/wykres.css')}}">
    </head>
    <body>
        <h1 class="title">Wyznaczanie stycznej funkcji</h1>
        <p>Niech x0∈R oraz funkcja f będzie określona i ciągła w otoczeniu O(x0).
            Styczną do wykresu funkcji f w punkcie x0 (w punkcie wykresu P(x0,f(x0))
            lub dla argumentu x0) nazywamy prostą będąca granicznym położeniem siecznych wykresu funkcji
            f przechodzących przez punkty (x0,f(x0)) i (x,f(x)), gdy x→x0.

        </p>
        <img src="https://pre-epodreczniki.open.agh.edu.pl/tiki-download_file.php?fileId=955" alt="Zobrazowanie stycznej" class="obr_zr">
        <div class="zrodlo">
            <a href="https://pre-epodreczniki.open.agh.edu.pl/tiki-index.php?page=Pochodna+funkcji+a+styczna+do+wykresu+funkcji">Źródło</a>
        </div>
        <form action="plot" method="post">
            <div class="wykres">
                <div class="col1">
                    <input type="text" name="function" ><p>Wpisz wzór funkcji:</p>
                    <br>
                    <input type="text" name="point" ><p>Wpisz punkt(współ. x):</p>
                    <br>
                    <input type="submit" value="RYSUJ" id="plot" class="plocik">
                </div>
                <div class="col2">
                    {% if plotting==True %}
                    <img src="{{plot}}" alt="styczna w punkcie" class="wykres_img"></img>
                    {% endif %}
                </div>
            </div>
        </form>       
        
    </body>
</html>